a {
    color: white !important;
    font-weight: bold !important;
    font-size: x-large !important;
    text-decoration: none !important;
}

.outlined {
    color: white;
    text-shadow:
      -1px -1px 0 #5B5858,
       0   -1px 0 #5B5858,
       1px -1px 0 #5B5858,
       1px  0   0 #5B5858,
       1px  1px 0 #5B5858,
       0    1px 0 #5B5858,
      -1px  1px 0 #5B5858,
      -1px  0   0 #5B5858;
  }

a:hover {
    outline: 5px solid white;
    border-radius: 5px;
}

.container {
    color: white;
    margin: 1rem;
    padding: 1rem;
    max-width: 100% !important;
    background-image: url(../img/doodles.png);
    background-size: contain;
    background-blend-mode: darken;
}

.background-image {
    background-color: gray;
    /* background-image: url( {{category.image.url}} ); */
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}

.top {
    background-image: url(../img/wfpb.jpeg);
    padding: 50px 0px 50px 0px;
}

.food {
    background-color: white;
    border-radius: 50%;
    padding: 50px;
    margin: 5px;
    border: solid 1px white;
    /* box-shadow: 0 0 0 4px white; */
    /* outline: solid 2px white; */
}

.meal {
    padding: 150px 0px 150px 0px;
    background-image: url(../img/salad.jpeg);
    border-radius: 5px;
    border: solid 1px white;
}

.cat {
    color: white !important;
    background-image: url(../img/doodles.png);
    background-position-y: 70%;
    border: 1px solid white !important;
}

.field {
    padding: 150px 0px 150px 0px;
    background-color: gray;
    background-image: url(../img/doodles.png);
    background-size: contain;
    background-repeat: repeat;
    border-radius: 5px;
    border: 1px solid white;
}

.resources {
    padding: 50px 200px 50px 200px;
}

.d_bord {
    border: 1px solid white !important;
    border-radius: 5px;
}

.bgcol {
    color: white !important;
    background-color: #909090 !important;
    background-image: url(../img/doodles.png);
    /* background-size: cover; */
    /* background-position: right; */
    background-size: contain;
    background-repeat: repeat;
}

.def {
    padding: 2rem;
}

.cat_card {
    padding: 1rem 0rem 1rem 0rem;
}

.cite {
    font-style: italic;
    text-align: right;
    padding-right: 1em;
}

.scrln {
    max-height: 100px; 
    overflow: scroll;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 5px;
}

.food-item {
    margin-bottom: 10px; /* Adjust spacing between food items */
}

.clickable {
    cursor: pointer;
}