a {
    color: white !important;
    font-weight: bold !important;
    font-size: x-large !important;
}

a:hover {
    /* background-color: black; */
    outline: 5px solid white;
}

.container {
    margin: 1rem;
    padding: 1rem;
    max-width: 100% !important;
    background-color: beige;
}

.background-image {
    background-color: beige;
    /* background-image: url( {{category.image.url}} ); */
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}

.top {
    background-image: url(../img/menu.webp);
    padding: 50px 0px 50px 0px;
    /* background-blend-mode: darken; */
    /* color: white; */
}

.food {
    background-color: white;
    border-radius: 50%;
    padding: 50px;
    border: solid 2px white;
    /* box-shadow: 0 0 0 4px white; */
    /* outline: solid 2px white; */
}

/* .highlight {
    background-color: green;
} */

.meal {
    padding: 150px 0px 150px 0px;
    background-image: url(../img/salad.jpeg);
    border-radius: 5px;
}

.field {
    background-size: auto;
    background-repeat: repeat-x;
    padding: 150px 0px 150px 0px;
    /* background-image: url(../img/produce.webp); */
    /* background-color: #198754; */
    background-color: tan;
    border-radius: 5px;    
}

.def {
    padding: 2rem;
}

/* .card {
    background-color: gray !important;
} */

.card-title {
    padding: 1rem 0rem 1rem 0rem;
}

.cite {
    font-style: italic;
    text-align: right;
    padding-right: 1em;
}