{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <p class="text-center">One of the most powerful steps you can take to improve your health, boost energy levels, and prevent chronic diseases is to move to a plant-based diet. If you’ve seen Forks Over Knives, you know that science shows changing your nutrition is a powerful way to live longer, help the environment, and reduce your risk of getting sick.</p>
    <p class="cite">Forks Over Knives</p>
</div>

<div class="container text-center">
  <h4 class="text-center">Resources</h4>
  <!-- <p class="text-center">Want to learn more about a plant-based diet? Check out the resources below.</p> -->
  <div id="carouselExampleCaptions" class="carousel slide">

    <div class="carousel-inner">
      {% for resource in resources %}  
      
      {% if resource.id == 1 %}
      <div class="carousel-item active background-image field resources">
      {% else %}
      <div class="carousel-item background-image field resources">
      {% endif %}

      <a href="{{ resource.link }}" target="_blank">{{ resource.title }} <i class="bi bi-arrow-right"></i></a>
      <p>{{ resource.body }}</p>

      </div>

      {% endfor %}
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
{% endblock %}