{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for category in categories %}
        <div class="col">
            <div class="card h-100 background-image cat">
                <div class="row g-0">
                    <div class="col-md-3">
                        {% if category.image %}
                        <div class="background-image food" style="background-image: url( {{category.image.url}} )"></div>
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title text-center">{{ category.name }}</h4>
                            <!-- <p class="card-text"> {{ category.body }}</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container text-center">
    <div class="row row-cols-2">
      <div class="col-6 col-md-4">
        <div class="background-image meal"></div>
      </div>
      <div class="col-md-8 def">
        <h4>What is a Whole Food Plant Based (WFPB) Diet?</h4>
        <p><b>Whole Food</b>: Natural foods that are not heavily processed. That means whole, unrefined, or minimally refined ingredients.</p>
        <p><b>Plant Based</b>: Food that comes from plants and is free of animal ingredients such as meat, milk, eggs, or honey.</p>
        <p>There is overlap between WFPB and vegan diets, but there are also some key differences. A vegan diet can include highly processed imitation meats and cheeses; a WFPB diet eschews these products in favor of whole or minimally processed, close-to-nature foods that make it easy to meet your nutritional needs.</p>
        <p class="cite">Forks Over Knives</p>
      </div>
    </div>
</div>

<div class="container">
    <h4>Macronutrients & Micronutrients</h4>
    <p><b>Macronutrients</b>: Carbohydrates, fats, and proteins provide us with energy in the form of calories. Of these three, the majority of our energy should come from carbohydrates — not proteins. Eliminating or seriously limiting any one of these macronutrient groups from a diet is not healthy. Yes, even cutting out fats would be harmful. Our bodies need fat to help absorb certain vitamins.</p>
    <p><b>Micronutrients</b>: Also referred to as vitamins and minerals, are no less important than macronutrients. They are just needed in smaller amounts. They include vitamins, such as C, D and K, and minerals such as iron, magnesium and calcium. While micronutrients do not give us energy, they are critical for the many chemical reactions that occur in our bodies, including extracting energy from food and creating new cells.</p>
    <p class="cite">The Ohio State University, College of Medicine</p>
    <div class="d-grid gap-2">
        <a class="btn btn-success" href="/nutrition" role="button">Explore Nutrient Calculator</a>
    </div>
</div>

<div class="container text-center">
<h4>Eat With The Seasons</h4>
<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    {% for season in seasons %}
        
    {% if season.id == 1 %}
    <div class="carousel-item active background-image field">
    {% else %}
    <div class="carousel-item background-image field">
    {% endif %}
    
      <div class="carousel-caption d-none d-md-block">
        <h5> {{ season.name }} </h5>
        <div class="row">
        {% for seasonal in season.seasonals.all %}
          <div class="col">
            <div class="background-image food" style="background-image: url( {{seasonal.image.url}} )"></div>
            <p>{{ seasonal.name }}</p>
          </div>
        {% endfor %}
        </div>
        <p class="cite">United States Deparment of Agriculture</p>
      </div>
    </div>
    {% endfor %}

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

{% endblock %}